@font-face {
    font-family: "Amagro";
    src: url('../../font/Amagro-bold.ttf');
}

@font-face {
    font-family: "Lato-Thin";
    src: url('../../font/Lato-Thin.ttf');
}

@font-face {
    font-family: "Lato-Bold";
    src: url('../../font/Lato-Bold.ttf');
}



.h1-aboutme {
    color: white;
    height: 55px;
    font-family: Lato-Bold;
    background-image: linear-gradient(180deg,#80cbc8, #80cbc8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.h2-text {
    font-size: 25px;
    font-family: Lato-Bold;
    color: #6cb6dd;
}

.p-text {
    font-size: 16px;
    color: #6cb6dd;
    font-family: Lato;
}

.appAbout-container {
    padding-bottom: 10px;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 0.5px solid rgba(0, 0, 0, 0.061) */
}

