
.h1-text {
    font-family: Lato-Bold;
    margin: 0;
    color: white;
    height: 55px;
    background-color: #b8b5f3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.manage-img {
    width: 100%;
    height: 300px
}

.Carouselset {
    margin: 0;
    padding: 0;
}

.AppContent-container {
    padding-top: 0px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}